<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{/fragments.html :: head}">

</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{/fragments.html :: main-top}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{/fragments.html :: main-header}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{/fragments.html :: top-search}"></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->


    <div class="container" > 
        <div class="cardStyle text-center">

            <h2 class="formTitle">
                <i>Change Password</i> 
            </h2>
            <div th:if="${success}">
                <p th:text="${success}" class="btn btn-success"></p>
            </div>
            <div th:if="${errorPassword}">
                <p th:text="${errorPassword}" class="btn btn-danger"></p>
            </div>
            <div th:if="${errorPass}">
                <p th:text="${errorPass}" class="btn btn-danger"></p>
            </div>

          <form th:action="@{/change-password}" method="post" name="signupForm" id="signupForm" >
          <div class="inputDiv">
            <label class="inputLabel" for="password"> Current Password * </label> 
            <input type="password" id="password" name="password" required >
          </div>
          <div th:if="${errorCurrentPass}"><p th:text="${errorCurrentPass}" class="btn btn-danger"></p></div>
            
          <div class="inputDiv">
            <label class="inputLabel" for="newPassword">New Password *</label>
            <input type="password" id="newPassword" name="newPassword" required>
          </div>
            
          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
          </div>
          
          <div class="buttonWrapper">
            <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary">
              <span>Submit</span>
            </button>
          </div> 
          <a th:href="@{/account}" class="buttonWrapper mt-5 " style="color: blue;">
            <p>Click here to back  </p>
        </a>        
        </form>
        </div>
      </div>
    </section>


    <!-- Start copyright  -->
    <div class="footer-copyright mt-5">
        <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">Ocean Pream</a> Design By: SE2</a></p>
    </div>

    
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <div th:replace="~{/fragments.html :: script}">

    </div>
</body>

</html>